*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#45f3ff , #45f3ff );
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
} 
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#45f3ff , #45f3ff );
    transform-origin: bottom right;
    animation: animate 6s linear infinite; 
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#opcion1{
    display: none;
}
#opcion2{
    display: none;
}
#opcion3{
    display: none;
}
#opcion4{
    display: none;
}
#opcion5{
    display: none;
}
#triangulo2{
    display: none;
}
#triangulo3{
    display: none;
}
#triangulo4{
    display: none;
}
#resultados{
    display: none;
}      
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color:#45f3ff ;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    color:#9c9c9c ;
} 

a{
    text-decoration: none;
    color: #9c9c9c;
}
p{
    color: aqua;
    font-size: 14px;
    line-height: 25px;
    
}
